# docker-compose.yml
services:
  db:
    image: mysql:8.4
    container_name: mysql
    env_file: .env
    command: >
      mysqld
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --default-time-zone=America/La_Paz
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "--silent"]
      interval: 10s
      timeout: 5s
      retries: 10

  adminer:
    image: adminer:4
    container_name: adminer
    depends_on:
      db:
        condition: service_healthy
    environment:
      - ADMINER_DESIGN=pepa-linha
    ports:
      - "8080:8080"

volumes:
  dbdata:
